<% include partials/header.ejs %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <p>File Name - Midterm
  </p>
  
  <!-- Remember to add more information here -->
  
  <!-- This is a comment -->
  
  <p>Author - Steve Uzoho</p>
  
  <!-- Remember to add more information here -->
  
  
  <!-- This is a comment -->
  
  <p>Student id - 301221163</p>
  
  <!-- Remember to add more information here -->
  
  
  <!-- This is a comment -->
  
  <p>Web App</p>


<% include partials/footer.ejs %>
